*{margin:0;padding:0;box-sizing:border-box;}
html,body{
	width:100%;
	height:100%;
	font-size:14px;
}
.h5page{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	-webkit-transition:transform 0.8s cubic-bezier(.260,.860,.440,.985);
	transition:transform 0.8s cubic-bezier(.260,.860,.440,.985);
}
/* 为了以后写多个页面切换效果，将h5page-showing h5page-hasShown h5page-notShow 作为开关使用，具体的转换效果由其他的类处理 */
.h5page-slideup .h5page-showing{
	-webkit-transform:translate3d(0,0%,0);
	transform:translate3d(0,0%,0);
}
.h5page-slideup .h5page-hasShown{
	-webkit-transform:translate3d(0,-100%,0);
	transform:translate3d(0,-100%,0);	
}
.h5page-slideup .h5page-notShow{
	-webkit-transform:translate3d(0,100%,0);
	transform:translate3d(0,100%,0);	
}

.progress{
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	height:3px;
	background:rgba(0,0,0,.2);
}
.progress .progress-bar{
	height:3px;
	background-color:#08a1ef;
	-webkit-transition:width 0.8s cubic-bezier(.260,.860,.440,.985);
	transition:width 0.8s cubic-bezier(.260,.860,.440,.985);
}
.top{
	z-index:9998;
}
.arrow{
	position:fixed;
	z-index:9999;
	width:10vw;
	top:95vh;
	left:45vw;
}