/*  居中  */
.center-x-ab {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-y-ab {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-xy-ab {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-x-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-x-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
.center-y-table {
  display: table-cell;
  vertical-align: middle;
}
/* 基本布局  */
.inline-block {
  display: inline-block;
}
.ab {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.block {
  display: block;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.dis-table {
  display: table;
}
.vis-hidden {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.nav:after {
  clear: both;
}
.hidden {
  display: none !important;
}
/* 我写的公司代码里的 web app的 蓝色标题的条  */
.leftbar:before {
  content: " ";
  width: 4px;
  height: 14px;
  display: inline-block;
  background: #039be5;
  position: relative;
  margin-right: 10px;
}
/*  公司代码里的sidenav  */
.sidenav-wrap {
  margin-bottom: 30px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.sidenav-wrap a {
  color: #333;
}
.sidenav-wrap a:hover,
.sidenav-wrap a.active {
  text-decoration: none;
  color: #03A9F4;
}
.sidenav-wrap .sidenav-title {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 25px;
  padding-right: 15px;
}
.sidenav-wrap .sidenav-title.sidenav-head {
  padding-left: 15px;
}
.sidenav-wrap .sidenav-folder {
  border-bottom: 1px solid #f5f5f5;
}
.sidenav-wrap .sidenav-folder .title {
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
}
/* 单行文字超出变成点 */
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav > li > a > img {
  max-width: none;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
.nav-justified > li {
  display: table-cell;
  width: 1%;
}
.nav-justified > li > a {
  margin-bottom: 0;
}
.nav-underline > li {
  border-bottom: 2px solid #CCC;
}
.nav-underline > li > a {
  color: #999;
  font-size: 16px;
}
.nav-underline > li + li {
  margin-left: 2px;
}
.nav-underline > li.active {
  border-bottom: 2px solid #03A9F4;
  color: #03A9F4;
}
