@import "_colors.less";
/*  居中  */
.center-x-ab {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.center-y-ab {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.center-xy-ab {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-x-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-x-table {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}

.center-y-table {
  display: table-cell;
  vertical-align: middle;
}

/* 基本布局  */
.inline-block {display: inline-block;}
.ab{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}
.block{display:block;}
.pull-left{float:left;}
.pull-right{float:right;}
.dis-table{display:table;}
.vis-hidden{visibility:hidden;}

/* 我写的公司代码里的 web app的 蓝色标题的条  */
.leftbar{
      &:before{
      content:" ";
      width:4px;
      height:14px;
      display: inline-block;
      background:#039be5;
      position:relative;
    //   top:-2px;
      margin-right:10px;
    }
}

/*  公司代码里的sidenav  */
.sidenav-wrap{
  a{
    color:#333;
  }
  @h:40px;
  margin-bottom:30px;
  border-width:1px 1px 0 1px;
  border-style:solid;
  border-color:#eeeeee;
  a:hover,a.active{
      text-decoration:none;
      color:#03A9F4;
    }
  .sidenav-title{
    font-size:16px;
    line-height:@h;height:@h;
    vertical-align:middle;
    border-bottom:1px solid #f5f5f5;
    padding-left:25px;
    padding-right:15px;
    &.sidenav-head{
      padding-left:15px;
    }

  }
  .sidenav-folder{
    border-bottom:1px solid #f5f5f5;
    @h:30px;
    .title{
      height:@h;
      line-height:@h;
      padding-left:30px;
    }
  }
}
/* 单行文字超出变成点 */
.one-line{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.nav-underline {
  > li {
    border-bottom: 2px solid #CCC;
    // Links rendered as pills
    > a {
      color:#999;
      font-size: 16px;
    }
    + li {
      margin-left: 2px;
    }
    // Active state
    &.active {
        border-bottom: 2px solid #03A9F4;
        color: #03A9F4;
    }
  }
}

#popAlertbox{
  z-index: 5000;
  .modal-content{
    border: 1px solid @grey-400;
  }
}