/* 图片轮播样式设置 */
#carousel_top {
  height: 460px;
}
.carousel-fade-fs {
  position: relative;
}
.carousel-fade-fs .carousel-inner {
  position: relative;
  height: 100%;
}
.carousel-fade-fs .carousel-item {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel-fade-fs .carousel-item img {
  width: 100%;
  opacity: 0;
}
.carousel-fade-fs .carousel-item:first-of-type img {
  opacity: 1;
}
.carousel-fade-fs .carousel-item.active {
  z-index: 998;
}
.carousel-fade-fs .carousel-indicators {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 1000;
}
.carousel-fade-fs .controls {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0 solid #ffffff;
}
.carousel-fade-fs .controls.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  border: 0 solid #ffffff;
}
.carousel-fade-fs .controls + .controls {
  margin-left: 10px;
}
.carousel-fade-fw {
  width: 600px;
  height: 400px;
  position: relative;
}
.carousel-fade-fw .carousel-inner {
  position: relative;
  height: 400px;
}
.carousel-fade-fw .carousel-item {
  z-index: 900;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.carousel-fade-fw .carousel-item img {
  width: 100%;
  opacity: 0;
}
.carousel-fade-fw .carousel-item:first-of-type img {
  opacity: 1;
}
.carousel-fade-fw .carousel-item.active {
  z-index: 998;
}
.carousel-fade-fw .carousel-indicators {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 1000;
}
.carousel-fade-fw .controls {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0 solid #ffffff;
}
.carousel-fade-fw .controls.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  border: 0 solid #ffffff;
}
.carousel-fade-fw .controls + .controls {
  margin-left: 10px;
}
.carousel-move-fs {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-move-fs .carousel-inner {
  position: relative;
  width: 999999px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.carousel-move-fs .carousel-item {
  float: left;
}
.carousel-move-fs .carousel-item img {
  display: block;
  width: 100%;
}
.carousel-move-fs .carousel-indicators {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 1000;
}
.carousel-move-fs .controls {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0 solid #ffffff;
}
.carousel-move-fs .controls.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  border: 0 solid #ffffff;
}
.carousel-move-fs .controls + .controls {
  margin-left: 10px;
}
.carousel-move-fw {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}
.carousel-move-fw .carousel-inner {
  position: relative;
  width: 999999px;
  overflow: hidden;
  top: 0;
  left: 0;
}
.carousel-move-fw .carousel-item {
  float: left;
}
.carousel-move-fw .carousel-item img {
  display: block;
  width: 100%;
}
.carousel-move-fw .carousel-indicators {
  position: absolute;
  text-align: center;
  bottom: 20px;
  width: 100%;
  z-index: 1000;
}
.carousel-move-fw .controls {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 0 solid #ffffff;
}
.carousel-move-fw .controls.active {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333333;
  border: 0 solid #ffffff;
}
.carousel-move-fw .controls + .controls {
  margin-left: 10px;
}
