<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="../css/index.css">
	</head>
	<body>
		<div style="width:1200px;margin-left:auto;margin-right:auto;margin-top:10px;">
			<ul class="ilist-group card-list2" >
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>	
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>				
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>
				<li class="list-item">
					<div class="media-pic">
						<img src="../img/mooc2.jpg">
					</div>
					<div class="media-body">
						<div class="headline">Hello,移动WEB</div>
						<div class="caption-text">跟随移动互联网的浪潮"移动WEB"</div>
					</div>
				</li>


			</ul>
		</div>
	</body>
</html>