<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title></title>
		<link rel="stylesheet" href="../css/index.css">
	</head>
	<body>
		<ul class="ilist-group media-list2" style="width:632px;margin-left:auto;margin-right:auto;" >
			<li class="list-item">
				<div class="media-left">
					<img src="../img/zhihu0.jpg">
				</div>
				<div class="media-body">
					<div class="headline">如果可以考上清华北大这样的学府真的不用在乎学什么专业吗？</div>
					<div class="caption-text">评论里都在黑生物（工程），我实在看不下去了。
									身为一个学了9年生物的现已转行不做生物的人想说，你们黑得不够狠。

									警告：本回答说得非常没有条理，想到哪说到哪，但是都是我的血泪教训。

									先说个人结论：
									对大多数人来说，学什么专业非常重要，不管是top2也好top7也好211/985也好。

									声明：高考/大学/专业对大多数普通人来说可能是比较重要的选择，所以我说的这些只是个人看法，毫无疑问会因为个人经历等带入一定的主观因素、偏见和见识所限。
									具体如何操作怎么选最终是你个人的事情，因人而异，同时还需要自己多看多了解跟人多聊多实施。

									作者：邹昕
									链接：https://www.zhihu.com/question/25158665/answer/30242222
									来源：知乎
									著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
					</div>
				</div>
			</li>

			<li class="list-item">
				<div class="media-left">
					<img src="../img/zhihu0.jpg">
				</div>
				<div class="media-body">
					<div class="headline">如果可以考上清华北大这样的学府真的不用在乎学什么专业吗？</div>
					<div class="caption-text">评论里都在黑生物（工程），我实在看不下去了。
									身为一个学了9年生物的现已转行不做生物的人想说，你们黑得不够狠。

									警告：本回答说得非常没有条理，想到哪说到哪，但是都是我的血泪教训。

									先说个人结论：
									对大多数人来说，学什么专业非常重要，不管是top2也好top7也好211/985也好。

									声明：高考/大学/专业对大多数普通人来说可能是比较重要的选择，所以我说的这些只是个人看法，毫无疑问会因为个人经历等带入一定的主观因素、偏见和见识所限。
									具体如何操作怎么选最终是你个人的事情，因人而异，同时还需要自己多看多了解跟人多聊多实施。

									作者：邹昕
									链接：https://www.zhihu.com/question/25158665/answer/30242222
									来源：知乎
									著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
					</div>
				</div>
			</li>

			<li class="list-item">
				<div class="media-left">
					<img src="../img/zhihu0.jpg">
				</div>
				<div class="media-body">
					<div class="headline">如果可以考上清华北大这样的学府真的不用在乎学什么专业吗？</div>
					<div class="caption-text">评论里都在黑生物（工程），我实在看不下去了。
									身为一个学了9年生物的现已转行不做生物的人想说，你们黑得不够狠。

									警告：本回答说得非常没有条理，想到哪说到哪，但是都是我的血泪教训。

									先说个人结论：
									对大多数人来说，学什么专业非常重要，不管是top2也好top7也好211/985也好。

									声明：高考/大学/专业对大多数普通人来说可能是比较重要的选择，所以我说的这些只是个人看法，毫无疑问会因为个人经历等带入一定的主观因素、偏见和见识所限。
									具体如何操作怎么选最终是你个人的事情，因人而异，同时还需要自己多看多了解跟人多聊多实施。

									作者：邹昕
									链接：https://www.zhihu.com/question/25158665/answer/30242222
									来源：知乎
									著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。
					</div>
				</div>
			</li>

		</ul>
	</body>
</html>