*{margin:0;padding:0;box-sizing:border-box;}
.pbList{
	width:100%;
	overflow:hidden;/*使不能水平滚动*/
	
}
.pbList .pbList-titles{
	white-space:nowrap;
	border-bottom:1px solid #d8d8d8;
	display:table;	/*这里之所以要设置成display:table是为了求得宽度*/			
}

.pbList .pbTitle{
	display:inline-block;
	border-bottom:1px solid #fff;
	text-align:center;
	margin:12px 10px 0;
	padding-bottom:10px;
	font-size:12px;
}
.pbList .pbTitle.active{
	border-color:#f57b33;
	color:#f57b33;
}
.pbList .pbList-body{
	position:relative;
	min-height:200px;
}
.pbList .pbList-item{
	position:absolute;
	width:100%;
	top:0;
	left:100%;
}
.pbList input[type='radio']{
	position:fixed;
	top:-100px;
	left:-100px;
}
.pbList input[name='pbTitle']~.pbList-cont{
	position:relative;
	left:0;
}
.pbList input[name='pbTitle']:checked~.pbList-cont{
	left:-100%;
	-webkit-transition:left 0.6s ease;
	transition:left 0.6s ease;
}
.pbList .pb-question{
	display:block;
	margin-left:20px;
	padding:12px 15px 12px 0;
	border-bottom:1px solid #d9d9d9;
	color:#333;
}
.pbList input[name='pbQuestion']~.pb-answer {
	display:none;
}
.pbList input[name='pbQuestion']:checked~.pb-question .fa-angle-down{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.pbList input[name='pbQuestion']:checked~.pb-answer{
	display: block;
	margin-left:20px;
	padding:12px 30px 12px 0;
}