#sidebar{
	position:fixed;
	height:100%;
	width:35px;
	background-color:#e1e1e1;
	padding-top:200px;
}
.sidebar-item{
	margin-top:5px;
	cursor:pointer;
}
#closebar{
	position:absolute;
	bottom:30px;
	width:35px;
	cursor:pointer;
}
.sidebar-cont{
	position:fixed;
	height:100%;
	width:200px;
	left:35px;
	background-color:#e1e1e1;
	opacity:0;
}
.sidebar-cont-close{
	position:absolute;
	top:5px;
	right:5px;
	cursor:pointer;
}