*{
	box-sizing:border-box;
}
html,body{
	margin:0;
	padding:0;
	font-family:'Opensans',Arial,sans-serif;
}
.clearfix(){
	&:after{
		content:'';
		display:table;
		clear:both;
	}
}
.center-block(){
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.img-responsive(@display: block) {
  display: @display;
  max-width: 100%; // Part 1: Set a maximum relative to the parent
  height: auto; // Part 2: Scale the height according to the width, otherwise you get stretching
}
.center-block{
	.center-block();
}
.ilist-group{
	margin:0;
	padding:0;
	list-style:none;
}

//media-list 其实是在问如何实现两列布局

//双浮动制造两栏布局，结果是两列都是自适应的
.media-list(@picW:20%,@bodyW:80%){
	.list-item{
		display:block;
		.clearfix();		
	}
	.media-left{
		float:left;
		width:@picW;
		img{
			.img-responsive();
			.center-block();
		}
	}
	.media-body{
		float:left;
		width:@bodyW;
	}	
}
//一个浮动，一个overflowhidden制造两栏布局，一个定宽，一个自适应
.media-list0(@mediaW:38px,@margin_right:10px){
	.list-item{
		display:block;
		.clearfix();		
	}
	.media-left{
		float:left;
		width:@mediaW;
		margin-right:@margin_right;
		img{
			.img-responsive();
		}
	}
	.media-body{
		overflow:hidden;
	}
}


//www.coursera.org
.media-list1{
	.media-list(@picW:20%,@bodyW:80%);
	.list-item{
		padding:18px;
		margin-bottom:16px;
		border:1px solid rgba(0,0,0,0.1);
		background-color:#fff;
		transition:all 0.5s ease;
		&:hover{
			border-color:rgba(0,0,0,0.3);
		}				
	}
	.media-body{
		.headline{
			font-size:16px;
			line-height:24px;
		}
		.caption-text{
			font-size:12px;
			line-height:18px;
		}
	}
}

//www.zhihu.com
.media-list2{
	.media-list0(@mediaW:38px,@margin_right:10px);
	font-familt:'Helvetica Neue',Helvetica,Arial,sans-serif;
	.list-item{
		border-top:1px solid #ddd;
		padding-top:10px;
	}
	.media-body{
		.headline{
			color:#259;
			font-size:14px;
			font-weight: bold;
			line-height:24px;
		}
		.caption-text{
			font-size:13px;
			line-height:22px;
		}
	}
}

//tmall
.card-list1{
	.list-item{
		width:235px;
		margin-right:15px;
		margin-bottom:15px;
		float:left;
		&:hover{
			outline:1px solid #dd2727;
		}
		
		&:nth-child(5n){
			margin-right:0;
		}
	}
	.media-pic{
		img{
			.img-responsive();
			.center-block();
			&:hover{
				opacity:0.8;
			}
			transition:all 0.5s ease;			
		}
		

	}
	.media-body{
		color:#666;
		font-size:13px;
		line-height:18px;
		padding:3px 5px;
	}
	.clearfix();
}


//imooc,负数margin使用不错，避免使用复杂选择器（其实也不复杂），但考虑响应式可能简单点
.card-list2{
	margin-left:-60px;
	margin-right:-20px;
	.list-item{
		float:left;
		width:280px;
		padding:20px 20px 0 20px;
		&:hover{
			box-shadow:0 4px 8px rgba(0,0,0,0.2);
		}
		margin-left:40px;
		transition:all 0.5s ease-in-out;
	}
	.media-pic{
		img{
			.img-responsive();
			.center-block();
		}
	}
	.media-body{
		.headline{
			font-size:14px;
			line-height:18px;
			font-weight:bold;
		}
		.caption-text{
			margin:8px 0;
			font-size:12px;
			color:#b4bbbf;
			line-height:18px;
		}
	}
	.clearfix();
}