<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<title>跨终端Web</title>
	<link rel="stylesheet" href="../org/org/css/bootstrap.min.css">
	<style>
		body{padding-top:15px;padding-bottom:15px;}
屏幕		.p-indent{text-indent:2em;}
	</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2 class="text-center"><b>跨终端Web</b></h2>
				<hr>
				<p>如今的web，早已不是单单在PC上显示，手机、Pad都是访问网页的终端，由于屏幕尺寸的差异巨大，如果仅仅按照同一种方式展示信息，用户体验会非常的糟糕。</p>
				<p>要实现跨终端web开发，有许多方法，我就总结一下目前知道的。</p>

				<h3><b>①响应式设计</b></h3>
				<p>响应式设计主要利用媒体查询，根据不同的屏幕尺寸设置不同的样式。这是一种纯前端的做法，工作量集中在前端人员。这个方法适合的场景是不同屏幕下展示的内容、样式相近。这种方法无论用户的终端是什么，加载的内容都差不多，然而，许多内容是在小屏幕下通过CSS设置为隐藏，并不会给用户查看，这就带来了流量上的浪费和对手机用户的不良的用户体验（网速限制）。</p>

				<h3><b>②多模板</b></h3>
				<p>如果不同屏幕下展示的信息内容、样式差的比较多，这时如果依然采用响应式设计，前端人员会出人命的。这时就要在后台利用useragent判断访问者对应的环境，进而加载不同的模板。这样需要前端人员再来一套样式模板，但是实践经验告诉我们其实更省事。这种方法适合不同屏幕下内容样式差别较大的，然而，这种方法的不足之处是如果要改动，可能要改动多个文件。</p>
				<h3><b>③多域名</b></h3>
				<p>对于一些大公司，会采取多域名的方式。所以在浏览一些大公司网站的时候，经常会看到 m.  pad.之类的域名。然而这种方法需要更多的人来维护，对于小公司来说并不合适。</p>

				<p>目前前两种方法都尝试过了，第三种没经验，不多评价了。</p>



		</div>
	</div>
</body>
</html>